<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="Conteners/Header :: header"></header>
<div class="container mt-5">
    <div th:each="el : ${post}" class="alert alert-info mt-2">
        <h1 th:text="${el.title}"/>
        <p th:text="${el.full_text}"/>
        <p th:text="${el.views}"/>
        <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>
        <a th:href="'/blog/' + ${el.id} + '/remove'" class="btn btn-warning">Удалить</a>
    </div>
</div>
<footer th:insert="Conteners/footer :: footer"></footer>
</body>
</html>